<div class="banner_HP" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://sx-content-labs.sixt.io/thirdlight/seo/branches/hero_germany_190327_maserati_levante_sports_luxury_20_19.jpg);">
  <div class="home_container">
    <h1>CAR RENTAL <strong></h1>
    <p>Change your life and drive your favourite car.</p>
    <a class="btn btn-flat banner-btn" href="/cars">Rent now</a>
  </div>

  <div class="car container">
  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: cars_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :brand,
            params[:brand],
            class: "form-control",
            placeholder: "Car Brand"
        %>
        <%= text_field_tag :location,
            params[:location],
            class: "form-control",
            placeholder: "Location"
        %>
        <%= text_field_tag :passengers,
            params[:passengers],
            class: "form-control",
            placeholder: "Passengers"
        %>
         <%= text_field_tag :price,
            params[:price],
            class: "form-control",
            placeholder: "Price of vehicle"
        %>
      <%= submit_tag "Search", name: "", class: "btn_form btn-primary" %>
    <% end %>
  </div>
</div>
</div>
</div>


<div class="cards_HP">
  <div class="card-category_HP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pngmart.com/files/22/SUV-PNG-Isolated-Photos.png)">
    SUV
  </div>

  <div class="card-category_HP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cache.bmwusa.com/cosy.arox?pov=walkaround&brand=WBBM&vehicle=238D&client=byo&paint=P0C4W&fabric=FVASW&sa=S01P0,S0302,S0316,S0319,S0322,S03AG,S03DZ,S04FM,S04HB,S04L8,S05AC,S05AZ,S06AC,S06AK,S06C4,S06NW,S06U3,S06WD,S0710,S0715,S0760&date=20220302&quality=70&bkgnd=transparent&resp=png&angle=270)">
    CONVERTIBLE
  </div>

  <div class="card-category_HP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pngmart.com/files/22/Aston-Martin-Vanquish-PNG-HD-Isolated.png)">
    SPORTS CAR
  </div>
</div>

<div class="cards_HP">
  <div class="card-category_HP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pngkit.com/png/full/321-3219904_mini-van-2012-dodge-grand-caravan.png)">
    MINIVAN
  </div>

  <div class="card-category_HP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pngmart.com/files/10/Pickup-Truck-PNG-Transparent-Picture.png)">
    PICKUP TRUCKS
  </div>

  <div class="card-category_HP" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pngkey.com/png/detail/250-2506254_toyota-fortuner-png-new-fortuner-png.png)">
    FOUR WHEEL DRIVE
  </div>
</div>
