<div class="cards-index">
  <% @cars.each do |car| %>
    <div>
      <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path car.photo.key %>)">
        <% if @car.present? %>
        <% @car.photos.each do |photo| %>
        <%= image_tag photo.image.url(:thumb) %>
        <% end %>
        <% end %>
        <%= car.brand %>
      </div>
    <h2> Price:€<%= car.price %>/day <h2>
    <h2> Passengers: <%= car.passengers %><h2>
    <%= link_to "Check Details", car_path(car), class: "btn btn-primary"%>
    </div>
  <% end %>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
