<div class="cards-index">
  <div class="card-category-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @car.photo.key %>)">
  </div>
  <div class="text-start">
    <h1><strong><%= @car.brand %></strong></h1>
    <p><strong>Rent Price</strong>: <%= @car.price %></p>
    <p><strong>Passengers</strong>: <%= @car.passengers %></p>
    <p><strong>Brand</strong>: <%= @car.brand %></p>
    <p><strong>fuel_type</strong>: <%= @car.fuel_type %></p>
    <p><strong>Power</strong>: <%= @car.power %></p>
    <p><strong>Model</strong>: <%= @car.model %></p>

   <h2> <%= link_to "Confirm", payment_path(@payment), class: "btn btn-primary"%></h2>
   <p>  <%= link_to "Back to All Cars", cars_path(@cars), class: "btn btn-primary" %></p>
  </div>


</div>

<div id="map" style="height: 400px;"></div>

<script>
  function initMap() {
    var location = {lat: <%= @latitude %>, lng: <%= @longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: location
    });
    var marker = new google.maps.Marker({
      position: location,
      map: map
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
