<div class="container">
  <h1 class="text-primary"><%= @car.brand %></h1>
  <p>Rent price: <%= @car.price %></p>
  <p>Passengers: <%= @car.passengers %></p>
  <p>Brand: <%= @car.brand %></p>
  <p>fuel_type: <%= @car.fuel_type %></p>
  <p>Power: <%= @car.power %></p>
  <p>Model: <%= @car.model %></p>
  <h2 class="btn-gradient-index btn-ghost-index"> Confirm</h2>
</div>
